<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../core/polymer-theme-wp-api.html">
<link rel="import" href="../core/polymer-theme-shared-styles.html">

<dom-module id="template-elements">
    <template>
        <style include="polymer-theme-shared-styles">
            :host {
                display: block;
            }

            :host .container{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            :host .card {
                width: 200px;
                margin: 1rem;
            }

            @media (max-width: 600px) {
                :host .card {
                    width: 40%;
                }
            }

        </style>
        <polymer-theme-wp-api wp="{{ wp }}"></polymer-theme-wp-api>


        <div class="container">
            <template is="dom-repeat"
                      items="[[ elements ]]"
                      as="element">
                <div class="card">
                    <a href$="[[ element.link ]]">
                        <template is="dom-if"
                                  if="{{ element.thumbnail }}">
                            <div class="image">
                                <img src="[[ element.thumbnail ]]" alt="[[ element.title.rendered ]]">
                            </div>
                        </template>
                        <div class="content">
                            <h2>[[ element.title.rendered ]]</h2>
                            <polymer-theme-html html="{{ element.excerpt.rendered }}"></polymer-theme-html>
                        </div>
                    </a>
                </div>
            </template>
        </div>

    </template>
    <script>
        Polymer({
            is: 'template-elements',
            init: function (item) {
                if (!this.get('elements')) {
                    this.wp.pages().param('parent', item.id)
                        .then(function (items) {
                            this.set('elements', items);
                            this._onReady();
                        }.bind(this));
                }else{
                    this._onReady();
                }
            },

            _onReady: function(){
                this.fire('move-scroll', {
                    x: 0,
                    y: 0
                });
                this.fire('ready');
            }
        });
    </script>
</dom-module>