<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../shared/echo-html.html">
<link rel="import" href="../shared/shared-styles.html">

<dom-module id="template-post-detail">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }
        </style>

        <div class="card">
            <template is="dom-if"
                      if="{{ item.thumbnail }}">
                <div class="image">
                    <img src$="[[ item.thumbnail ]]" alt="[[ item.title.rendered ]]">
                </div>
            </template>
            <div class="content">
                <h1>[[ item.title.rendered ]]</h1>
                <echo-html html="[[ item.content.rendered ]]"></echo-html>
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'template-post-detail',

            init: function (item) {
                this.set('item', item);
                this.fire('move-scroll', {
                    x: 0,
                    y: 0
                });
                this.fire('ready');
            }
        });
    </script>
</dom-module>
