<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">


<link rel="import" href="../core/polymer-theme-service.html">
<link rel="import" href="../shared/echo-html.html">
<link rel="import" href="../shared/polymer-theme-icons.html">

<link rel="import" href="../shared/shared-styles.html">

<dom-module id="template-blog">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 10px;
            }
        </style>

        <polymer-theme-service id="service"
                               loading="{{ loading }}"
                               on-posts-received="_onPostsReceived"
                               on-page-received="_onPageReceived">
        </polymer-theme-service>

        <template is="dom-repeat"
                  items="{{ posts }}"
                  as="post">
            <div class="card">
                <template is="dom-if"
                          if="{{ post.thumbnail }}">
                    <div class="image">
                        <img src="[[ post.thumbnail ]]" alt="[[ post.title.rendered ]]">
                    </div>
                </template>
                <div class="content">
                    <h2>[[ post.title.rendered ]]</h2>
                    <echo-html html="{{ post.excerpt.rendered }}"></echo-html>
                </div>
            </div>
        </template>


    </template>
    <script>
        Polymer({
            is: 'template-blog',

            properties: {
                loading: {
                    type: Boolean,
                    reflectToAttribute: true
                },
                posts: {
                    type: Array,
                    value: []
                }
            },

            init: function () {
                //Fetching posts
                this.$.service.getPageBySlug("blog");
                //Fetching blog page information (seo)
                this.$.service.getPosts();
            },

            _onPostsReceived: function (event) {
                this.set('posts', event.detail.response);
                this.fire('ready', {});
            },

            _onPageReceived: function (event) {
                var page = event.detail.response[0];
                this.fire('update-head', page.seo);
            }
        });
    </script>
</dom-module>
