<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../../bower_components/app-layout/app-scrollpos-control/app-scrollpos-control.html">
<link rel="import" href="../../bower_components/uniflow-polymer/application-state.html">

<link rel="import" href="../shared/polymer-theme-icons.html">

<link rel="import" href="polymer-theme-service.html">
<link rel="import" href="polymer-theme-router.html">
<link rel="import" href="polymer-theme-network-checker.html">

<dom-module id="polymer-theme-shell">
    <template>
        <style>
            :host {
                --app-primary-color: #4285f4;
                --app-secondary-color: black;
                display: block;
            }

            :host iron-pages > * {
                -webkit-transition: opacity 0.2s ease-in-out;
                -moz-transition: opacity 0.2s ease-in-out;
                -o-transition: opacity 0.2s ease-in-out;
                transition: opacity 0.2s ease-in-out;
            }

            :host iron-pages > *[loading] {
                opacity: 0;
            }

            :host iron-pages > * {
                opacity: 1;
            }

            app-header {
                color: #fff;
                background-color: var(--app-primary-color);
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            .drawer-list {
                margin: 0 20px;
            }

            .drawer-list a {
                display: block;
                padding: 0 16px;
                text-decoration: none;
                color: var(--app-secondary-color);
                line-height: 40px;
            }

            .drawer-list a.iron-selected {
                color: black;
                font-weight: bold;
            }

            paper-progress {
                display: block;
                width: 100%;
                --paper-progress-active-color: rgba(255, 64, 129, 0.8);
                --paper-progress-container-color: transparent;
            }
        </style>

        <!-- Network checker -->
        <polymer-theme-network-checker></polymer-theme-network-checker>
        <!-- App router -->
        <app-location route="{{ route }}"></app-location>
        <polymer-theme-router route="[[ route ]]"
                              on-found-next="_changePage"></polymer-theme-router>

        <app-drawer-layout id="drawerLayout" fullbleed>
            <!-- Drawer content -->
            <app-drawer id="drawer"
                        opened="{{ _menuOpened }}">
                <app-toolbar>Menu</app-toolbar>
                <iron-selector selected="[[ page ]]"
                               attr-for-selected="name"
                               class="drawer-list"
                               role="navigation">
                    <template is="dom-repeat" items="{{ menu('header-menu') }}">
                        <a name$="[[ item.post_name ]]" href$="[[ item.url ]]">[[ item.title ]]</a>
                    </template>
                </iron-selector>
            </app-drawer>

            <!-- Main content -->
            <app-header-layout>
                <app-header id="header"
                            condenses
                            reveals
                            effects="waterfall">
                    <app-toolbar>
                        <paper-icon-button icon="menu" drawer-toggle></paper-icon-button>
                        <div main-title>
                            <a on-tap="_showHome">[[ siteTitle ]]</a>
                        </div>
                    </app-toolbar>
                </app-header>

                <iron-pages id="pages"
                            selected="{{ template }}"
                            attr-for-selected="id"
                            role="main">
                    <!-- Pages will be added on demand -->
                </iron-pages>
            </app-header-layout>
        </app-drawer-layout>

        <app-scrollpos-control id="scrollPos"
                               selected="{{ template }}"></app-scrollpos-control>
    </template>

    <script>
        Polymer({
            is: 'polymer-theme-shell',

            properties: {
                taxonomy: {
                    type: String,
                    reflectToAttribute: true
                },
                slug: {
                    type: String,
                    reflectToAttribute: true
                },
                template: {
                    type: String,
                    reflectToAttribute: true
                },
                menus: Object,
                menu: {
                    type: Function,
                    computed: '_getMenu(menus)'
                },

                templates: Object
            },

            listeners: {
                'update-head': '_onUpdateHead',
                'move-scroll': '_onMoveScroll'
            },

            behaviors: [
                UniFlow.ApplicationState
            ],

            created: function () {
                // Custom elements polyfill safe way to indicate an element has been upgraded.
                this.removeAttribute('unresolved');
            },

            _changePage: function (event) {

                this.taxonomy = event.detail.item.type;
                this.slug = event.detail.item.slug;

                // Load page import on demand. Show 404 page if fails
                var templateFile = (this.templates[this.slug])
                                ? this.templates[this.slug]
                                : 'template-' + this.taxonomy + '-detail.html',
                        templateFileUrl = this.resolveUrl('../templates/' + templateFile);

                this.importHref(templateFileUrl,
                        function () {
                            this._setView(templateFile.replace('.html', ''), event.detail.item);
                        },
                        this._showPage404, true);
            },

            _setView: function (template, item) {
                var _onReady = function () {
                    //Updating head
                    if (item) {
                        this.fire('update-head', item.tags);
                    }
                    //Closing lateral menu
                    this._closeMenu();
                    view.removeEventListener('ready', _onReady);
                    this.template = template;
                    //Notifying to Google Analytics the new route
                    if(ga){
                        ga('send', 'location', location.pathname);
                    }
                }.bind(this);

                var view = this.$.pages.querySelector(template);
                //Adding template if necessary

                if (!view) {
                    view = document.createElement(template);
                    view.setAttribute('id', template);
                    Polymer.dom(this.$.pages).appendChild(view);
                }

                view.addEventListener('ready', _onReady);

                view.init(item);
            },

            _onUpdateHead: function (event) {
                var metas = event.detail,
                    docMetas = document.querySelectorAll('meta');

                try {
                    document.title = metas.title;
                    [].forEach.call(docMetas, function (meta) {
                        if (typeof metas[meta.name] != 'undefined')
                            meta.content = metas[meta.name];
                    });
                } catch (err) {
                    console.error(err.message);
                }
            },

            _onMoveScroll: function (event) {
                Polymer.AppLayout.scroll({top: 0, behavior: 'silent'});
            },

            _showPage404: function () {
//                var templateFile = 'template-404.html',
//                        templateFileUrl = this.resolveUrl('../templates/' + templateFile);
//                this.importHref(templateFileUrl,
//                        function () {
//                            this._setView(templateFile.replace('.html', ''));
//                        },
//                        null, true);
                location.href = this.state.siteUrl + '/404'
            },

            _closeMenu: function () {
                //Closing the menu only under mobile width
                var responsiveWidth = +(this.$.drawerLayout.responsiveWidth.replace('px', ''));
                this._menuOpened = !(responsiveWidth > window.innerWidth);
            },

            _getMenu: function (menus) {
                return function (position) {
                    return menus[position];
                }
            }
        });
    </script>
</dom-module>